@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --red: #e50914;
    --black: #141414;
    --gray: #3E3E3E;
    --light-gray: #E6E7E9;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-gray);
    transition: 0.5s;
}

#header {
    position: fixed;
    overflow: hidden;
    z-index: 10;
     /* position: absolute;   */
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    

header #header-img {
    position: relative;
    max-width: 15rem;    
}

header nav {
    position: relative;
    display: flex;
} 

header nav li {
    list-style: none;
}

header nav li a {
    display: inline-block;
    color: var(--gray);
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
    transition: .3s;
}

header nav li a:hover {
    color: #5A6074;
}

.content {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: var(--black);
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
}

.content .textBox h2 span {
    font-size: 2em;
}

.content .textBox p {
    color: var(--black);
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--white);
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .imgBox {
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}

.content .imgBox img {
    max-width: 520px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 40px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}

#features{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-gray);
}

#features .about {
    position: relative;
    width: 1200px;
    height: 900px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#features .about h2 {
    color: var(--black);
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 900;
    padding: 30px;
}

#features .about p {
    color: var(--gray);
    line-height: 2em;
    padding: 15px;
    margin-bottom: 15px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16384c;
}

.container-price {
    position: relative;
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container-price .card {
    position: relative;
    max-width: 325px;
    height: 250px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.container-price .card:hover {
    height: 450px;
}

.container-price .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container-price .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
}

.container-price .card .content-price {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container-price .card:hover .content-price {
    visibility: visible;
    opacity: 1;
    margin-top:-40px;
    transition-delay: 0.3s;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    background-color: var(--light-gray);
}
  
#footer > h3 {
    margin-bottom: 20px;
    word-wrap: break-word;
}
  
#footer input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
  
#footer input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #04D361;
    cursor: pointer;
}
  
#footer input[type="submit"]:hover {
    background-color: #04c25a;
    transition: background-color 1s;
}

@media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 5px;
    }
  }